@model ResturantFinder.Models.ViewModels.UpdateReview
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>Add Review</h2>
<form action="/Reviews/Update//@Model.Selectedreview.ReviewId" method="POST">
    <input type="hidden" name="ReviewId" value="@Model.Selectedreview.ReviewId" />
    <div>
        <label>Resturant Name:</label>
        <select name="ResturantName">
            @foreach (var restaurants in Model.restaurantsoptions)
            {
                <option value="@restaurants.Name">
                    @restaurants.Name
                </option>
            }
        </select>
    </div>
    <div>
        <label>Rating Food:</label>
        <input type="text" name="RatingFood" value="@Model.Selectedreview.RatingFood" />
    </div>
    <div>
        <label>Rating Asthetics:</label>
        <input type="text" name="RatingAsthetics" value="@Model.Selectedreview.RatingAsthetics" />
    </div>
    <div>
        <label>Rating Feelings:</label>
        <input type="text" name="RatingFeeling" value="@Model.Selectedreview.RatingFeeling" />
    </div>
    <input type="hidden" name="UserId" value="@Model.Selectedreview.UserId" />
    <label>Confirm Resturant</label>
    <select name="Id">
        @foreach (var restaurants in Model.restaurantsoptions)
        {
            <option value="@restaurants.Id">
                @restaurants.Name
            </option>
        }
    </select>
    <div>
        <label>Review:</label>
        <input type="text" name="ReviewsDes" value="@Model.Selectedreview.ReviewsDes" />
    </div>
    <div>
        <input type="submit" value="Edit Review" />
    </div>
</form>